/*
177E89 light blue
084C61 dark blue
DB3A34 red
FFC857 yellow
323031 black
*/

/* 003D5B indigo
30638E blue
00798C lightblue
D1495B pink
EDAE49 yellow */

/* 76B041 green
2E282A black
FFC914 yellow
17BEBB lightblue
E4572E orange */

$blue: #003D5B;
$light-blue: #177E89;
$red: #DB3A34;
$yellow: #FFC857;
$black: #323031;
$green: #76B041;
