body .App {
  align-items: center;
  background-color: #003D5B;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

body {
  overflow: hidden;
}

.logo {
  margin-bottom: 7vh;
  width: 500px;
}

.login-form {
  align-items: center;
  border-radius: 3px;
  background-color: rgb(243, 243, 243);
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
}

.input-container {
  font-size: 20px;
}

.login-form input, .login-btn {
  padding: 11px;
  width: 400px;
  border: none;
  margin: 10px 0;
  outline: none;
}

.login-form input {
  border-radius: 5px;
  border: 3px solid rgba(71, 71, 71, 0.219);
  height: 2em;
}

.login-btn {
  font-size: 17px;
  width: 420px;
  height: 3em;
  background-color: $black;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
  color: white;
  cursor: pointer;
  // transition: .2s;
}

.login-btn:hover {
  background-color: rgb(36, 36, 36);
}

.login-btn:disabled {
  cursor: default;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.753);
  color: rgba(116, 116, 116, 0.897);
}

.login {
  z-index: 1;
}

.login .question-marks {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.question-marks li{
  position: absolute;
  display: block;
  list-style: none;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  top: -150px;
}

.question-marks li:nth-child(1){
  left: 25%;
  font-size: 80px;
  animation-delay: 0s;
}


.question-marks li:nth-child(2){
  left: 10%;
  font-size: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.question-marks li:nth-child(3){
  left: 70%;
  font-size: 20px;
  animation-delay: 4s;
}

.question-marks li:nth-child(4){
  left: 40%;
  font-size: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.question-marks li:nth-child(5){
  left: 65%;
  font-size: 20px;
  animation-delay: 0s;
}

.question-marks li:nth-child(6){
  left: 75%;
  font-size: 110px;
  animation-delay: 3s;
}

.question-marks li:nth-child(7){
  left: 35%;
  font-size: 150px;
  animation-delay: 7s;
}

.question-marks li:nth-child(8){
  left: 50%;
  font-size: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.question-marks li:nth-child(9){
  left: 20%;
  font-size: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.question-marks li:nth-child(10){
  left: 85%;
  font-size: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0%{
      transform: translateY(0px) rotate(0deg);
      opacity: 1;
  }

  100%{
      transform: translateY(1000px) rotate(720deg);
      opacity: 0;
  }

}

.config-btn {
  background: none;
  padding: 10px;
  border: none;
  color: rgb(241, 241, 241);
  font-size: 40px;
  position: absolute;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: .2s;
}

.config-btn:hover {
  color: rgba(255, 255, 255, 0.733);
}


@media (max-width: 768px) {
  .mobile {
    color: rgb(236, 236, 236);
    text-align: center;
  }
}
